@model IEnumerable<Product> 
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>
<div class="row">

    @foreach (var p in Model)
    {
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="@p.ImageUrl" class="card-img" />
                        <p>@p.Name</p>
                        <p>@p.Title</p>
                        <p>@p.Price</p>
                        <a class="btn btn-info form-control" asp-action="Details" asp-route-id="@p.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
